@using Czytnik_Model.ViewModels
@model dynamic

@{
    ViewData["Title"] = "Wyszukiwanie";
}

<form class="search wrapper js-filter-form" action="/Search" method="get">
    <details open class="search__filter">
        <summary class="search__filter-header">
            <p class="search__filter-title">Filter</p>
            <svg class="search__filter-icon" viewBox="0 0 29 25">
                <use xlink:href="/assets/svg/sprite.svg#icon-chevron-down"></use>
            </svg>
        </summary>
        <div class="search__filter-item">
            <details class="filter filter--list">
                <summary class="filter__header">
                    <p class="filter__title">Kategoria</p>
                    <svg class="filter__icon" viewBox="0 0 32 32">
                        <use xlink:href="/assets/svg/sprite.svg#icon-chevron-down"></use>
                    </svg>
                </summary>

                <div class="filter__search">
                    <input type="text" class="filter__search-input js-categories-filter-search" placeholder="Wyszukaj">
                </div>

                <div class="filter__results js-categories-filter"></div>
            </details>
        </div>

        <div class="search__filter-item">
            <details class="filter">
                <summary class="filter__header">
                    <p class="filter__title">Data Wydania</p>
                    <svg class="filter__icon" viewBox="0 0 32 32">
                        <use xlink:href="/assets/svg/sprite.svg#icon-chevron-down"></use>
                    </svg>
                </summary>

                <div class="filter__range">
                    <input class="filter__range-input" type="date" name="StartDate" id="start-date" value="@Model.search.StartDate?.ToString("yyyy-MM-dd")">
                    <div class="filter__range-partition"></div>
                    <input class="filter__range-input" type="date" name="EndDate" id="end-date" value="@Model.search.EndDate?.ToString("yyyy-MM-dd")">
                </div>

            </details>
        </div>

        <div class="search__filter-item">
            <details class="filter">
                <summary class="filter__header">
                    <p class="filter__title">Cena</p>
                    <svg class="filter__icon" viewBox="0 0 32 32">
                        <use xlink:href="/assets/svg/sprite.svg#icon-chevron-down"></use>
                    </svg>
                </summary>

                <div class="filter__range">
                    <input class="filter__range-input filter__range-input--price" type="number" min="1" step="1" name="StartPrice"
                           id="start-price" placeholder="od"  value="@Model.search.StartPrice">
                    <div class="filter__range-partition"></div>
                    <input class="filter__range-input filter__range-input--price" type="number" min="1" step="1" name="EndPrice"
                           id="end-price" placeholder="do"  value="@Model.search.EndPrice">
                </div>

            </details>
        </div>

        <div class="search__filter-item">
            <details class="filter filter--list">
                <summary class="filter__header">
                    <p class="filter__title">Język</p>
                    <svg class="filter__icon" viewBox="0 0 32 32">
                        <use xlink:href="/assets/svg/sprite.svg#icon-chevron-down"></use>
                    </svg>
                </summary>

                <div class="filter__search">
                    <input type="text" class="filter__search-input js-languages-filter-search" placeholder="Wyszukaj">
                </div>

                <div class="filter__results js-languages-filter"></div>
            </details>
        </div>

        <input type="hidden" name="SearchText" class="js-search-form-input">

        <div class="filter__button">
            <button class="button button--medium button--full-parent js-search-button">
                Wyszukaj
            </button>
        </div>
    </details>

    <div class="search__content">
        <h1 class="search__header">Książki: @Model.search.SearchText</h1>
        <div class="search__sorting">
            <div class="sorting-header sorting-header--search">
                <div class="sorting-header__counter">
                    Znaleziono @Model.booksCount produktów
                </div>
                <div class="sorting-header__sort">
                    <label for="sort" class="sorting-header__sort-label">Sortuj według: </label>
                    <div class="sorting-header__sort-select-wrapper">
                        <select name="Sort" id="sort" class="sorting-header__sort-select js-sorting-select">
                            <option value="alphabet">A - Z</option>
                            <option value="price-down">Cena: malejąco</option>
                            <option value="price-up">Cena: rosnąco</option>
                            <option value="date-down">Od najnowszych</option>
                            <option value="date-up">Od najstarszych</option>
                            <option value="rating-down">Ocena: malejąco</option>
                            <option value="rating-up">Ocena: rosnąco</option>
                        </select>
                        <svg class="sorting-header__sort-chevron" viewBox="0 0 32 32">
                            <use xlink:href="/assets/svg/sprite.svg#icon-chevron-down"></use>
                        </svg>
                    </div>

                </div>
            </div>
        </div>

        <div class="search__result">
            @foreach (BooksSearchViewModel book in Model.books)
            {
                <div class="search__result-item">
                    <a href="/Book/Index/@book.Id" class="search__result-link">
                        <img src="@book.Cover" alt="@book.Title" class="search__result-image">
                    </a>
                    <div class="search__result-price">
                        <div class="search__result-price-current">@book.CalculatedPrice zł</div>
                        <div class="search__result-price-old">@(book.Price == book.CalculatedPrice ? null : book.Price+" zł")</div>
                    </div>
                    <p class="search__result-title">
                        @book.Title
                    </p>
                    <p class="search__result-author">
                        @string.Join(", ", book.Authors)
                    </p>
                    <div class="search__result-rating">
                        <svg class="search__result-star @(book.Rating.HasValue ? "" : "search__result-star--disabled")" viewBox="0 0 32 32">
                            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
                        </svg>
                        <p class="search__result-rate">@(book.Rating.HasValue ? book.Rating : "Brak Ocen")</p>
                    </div>
                    <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
                        <span class="books-carousel__button__left">Dodaj do koszyka</span>
                        <span class="books-carousel__button__right">+</span>
                    </a>
                </div>
            }
        </div>
        <div class="pagination js-pagination" data-quantity="@Model.booksCount" data-page="@Model.search.Page">
            @*<button class="pagination__item pagination__item--arrow">
                <svg class="pagination__arrow pagination__arrow--left" viewBox="0 0 6 9">
                    <use xlink:href="/assets/svg/sprite.svg#icon-chevron-right"></use>
                </svg>
            </button>*@
            @*@for (int i = 1; i <= Math.Ceiling((decimal)Model.booksCount/30); i++)
            {
                <button class="pagination__item @(Model.search.Page == i ? "pagination__item--active" : "")">@i</button>
            }*@
            @*<button class="pagination__item pagination__item--active">1</button>
            <button class="pagination__item">2</button>
            <button class="pagination__item">3</button>
            <button class="pagination__item">4</button>
            <button class="pagination__item">5</button>
            <button class="pagination__item">6</button>
            <button class="pagination__item">7</button>
            <button class="pagination__item">8</button>
            <span class="pagination__item pagination__item--text">z</span>
            <button class="pagination__item">132</button>*@
            @*<button class="pagination__item pagination__item--arrow">
                <svg class="pagination__arrow" viewBox="0 0 6 9">
                    <use xlink:href="/assets/svg/sprite.svg#icon-chevron-right"></use>
                </svg>
            </button>*@
        </div>
    </div>

</form>

<script src="~/js/loadFilters.js"></script>
<script src="~/js/submitSearch.js"></script>
<script src="~/js/pagination.js"></script>