@model dynamic

<form class="search wrapper" action="/Search" method="get">
      <details class="search__filter">
        <summary class="search__filter-header">
          <p class="search__filter-title">Filter</p>
          <svg class="search__filter-icon" viewBox="0 0 29 25">
            <use xlink:href="/assets/svg/sprite.svg#icon-chevron-down"></use>
          </svg>
        </summary>
        <div class="search__filter-item">
          <details class="filter filter--list">
            <summary class="filter__header">
              <p class="filter__title">Kategoria</p>
              <svg class="filter__icon" viewBox="0 0 32 32">
                <use xlink:href="/assets/svg/sprite.svg#icon-chevron-down"></use>
              </svg>
            </summary>

            <div class="filter__search">
              <input type="text" class="filter__search-input" placeholder="Wyszukaj">
            </div>

            <div class="filter__results">
                @foreach (var category in Model.categories)
                {
                    <div class="filter__results-item">
                        <input class="filter__results-checkbox" type="radio" name="category" id="@category.Category.Name" value="@category.Category.Id">
                        <label class="filter__results-label" for="@category.Category.Name">@category.Category.Name</label>
                    </div>
                }
            </div>
          </details>
        </div>

        <div class="search__filter-item">
          <details class="filter">
            <summary class="filter__header">
              <p class="filter__title">Data Wydania</p>
              <svg class="filter__icon" viewBox="0 0 32 32">
                <use xlink:href="/assets/svg/sprite.svg#icon-chevron-down"></use>
              </svg>
            </summary>

            <div class="filter__range">
              <input class="filter__range-input" type="date" name="start-date" id="start-date">
              <div class="filter__range-partition"></div>
              <input class="filter__range-input" type="date" name="end-date" id="end-date">
            </div>

          </details>
        </div>

        <div class="search__filter-item">
          <details class="filter">
            <summary class="filter__header">
              <p class="filter__title">Cena</p>
              <svg class="filter__icon" viewBox="0 0 32 32">
                <use xlink:href="/assets/svg/sprite.svg#icon-chevron-down"></use>
              </svg>
            </summary>

            <div class="filter__range">
              <input class="filter__range-input filter__range-input--price" type="number" min="1" name="start-price"
                id="start-price" placeholder="od">
              <div class="filter__range-partition"></div>
              <input class="filter__range-input filter__range-input--price" type="number" min="1" name="end-price"
                id="end-price" placeholder="do">
            </div>

          </details>
        </div>

        <div class="search__filter-item">
          <details class="filter filter--list">
            <summary class="filter__header">
              <p class="filter__title">Język</p>
              <svg class="filter__icon" viewBox="0 0 32 32">
                <use xlink:href="/assets/svg/sprite.svg#icon-chevron-down"></use>
              </svg>
            </summary>

            <div class="filter__search">
              <input type="text" class="filter__search-input" placeholder="Wyszukaj">
            </div>

            <div class="filter__results">
                @foreach (var language in Model.languages)
                {
                    <div class="filter__results-item">
                        <input class="filter__results-checkbox" type="radio" name="language" id="@language.Name" value="@language.Id">
                        <label class="filter__results-label" for="@language.Name">@language.Name</label>
                    </div>
                }
            </div>
          </details>
        </div>

        <div class="filter__button">
          <button class="button button--medium button--full-parent">
            Wyszukaj
          </button>
        </div>
      </details>

  <div class="search__content">
    <h1 class="search__header">Książki </h1>
    <div class="search__sorting">
      <div class="sorting-header sorting-header--search">
        <div class="sorting-header__counter">
          Znaleziono 481 produktów
        </div>
        <div class="sorting-header__sort">
          <label for="sort" class="sorting-header__sort-label">Sortuj według: </label>
          <div class="sorting-header__sort-select-wrapper">
            <select name="sort" id="sort" class="sorting-header__sort-select">
              <option value="alphabet">A - Z</option>
              <option value="price-down">Cena: malejąco</option>
              <option value="price-up">Cena: rosnąco</option>
              <option value="data-down">Od najnowszych</option>
              <option value="data-up">Od najstarszych</option>
              <option value="rating-down">Ocena: malejąco</option>
              <option value="rating-down">Ocena: rosnąco</option>
            </select>
            <svg class="sorting-header__sort-chevron" viewBox="0 0 32 32">
              <use xlink:href="/assets/svg/sprite.svg#icon-chevron-down"></use>
            </svg>
          </div>

        </div>
      </div>
    </div>

    <div class="search__result">
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a class="books-carousel__button books-carousel__button--disabled">
          <span class="books-carousel__button__right">Produkt niedostepny</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
      <div class="search__result-item">
        <a href="/Book/1" class="search__result-link">
          <img src="/assets/img/horror_category.png" alt="Book Title" class="search__result-image">
        </a>
        <div class="search__result-price">
          <div class="search__result-price-current">9,99 zł</div>
          <div class="search__result-price-old">11,32 zł</div>
        </div>
        <p class="search__result-title">
          Minecraft Joke Book
        </p>
        <p class="search__result-author">
          Mojang
        </p>
        <div class="search__result-rating">
          <svg class="search__result-star" viewBox="0 0 32 32">
            <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
          </svg>
          <p class="search__result-rate">4.8</p>
        </div>
        <a href="/Buy" class="books-carousel__button books-carousel__button--secondary">
          <span class="books-carousel__button__left">Dodaj do koszyka</span>
          <span class="books-carousel__button__right">+</span>
        </a>
      </div>
    </div>
  </div>
</form>